*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body {

	position: relative;
	overflow: auto;
	font-family: 'Century Gothic', sans-serif;
	text-rendering: optimizeLegibility !important;
	-webkit-font-smoothing: antialiased !important;
}

.parallax-window {
    height: 100vh;
    background: transparent;
    background-color: rgba(0,0,0, 0.35) !important;
}

.navbar {
	background-color: rgba(0.8,0.8,0.9, 0.7); 
	text-transform: uppercase;
	font-family: 'Century Gothic', sans-serif; 
	font-weight: 500;
	box-shadow: 0 2px 6px -1px rgba(0,0,0,0.3);
	z-index: 3 !important;
	height: 60px;
	padding-top: 0.5%;
}



.navbar .navbar-brand{
font-size: 1.2em;
font-weight: 200;
}

.navbar a{
	color: #fff !important;
	
}

.navbar a:hover {
	opacity: 1;
	color: 	#D3D3D3 !important;
}

.main_logo{
	display: flex;
	width: 100%;
	height: 100vh;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	color: white;
	
}

.main_logo h1{
	font-size: 9em !important;
	text-shadow: 4px 1px 2px black;
	
}
.main_logo i{
	font-size: 5em;
	color: white;
	font-weight: 100;
	
}

.aboutus{
	padding: 5px 100px;
	width: 100%;
	height:90vh;
	background: white;
	display: flex;
	justify-content: center;
	flex-flow: column;
}

.aboutus h1{
font-size: 3.5em;
color: grey;
text-align: center;
}


.aboutus h2{
	text-align: center;
}



.main_sponsor_form{
background: url("images/io.jpg");
width: 100%;
display: flex;
align-items: center;
justify-content: center;
}

.main_sponsor_form form{
  margin-top: 75px !important;
  padding: 15px 20px !important;
  background: white;
  width: 450px;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
  margin: auto;
  padding: 0;
  box-shadow: 0px 2px 2px 0px rgba(64,64,64);
  border-radius: 5px;
}

input{
  line-height: 30px !important;
  width: 100%;
  background-color: #ffffff;
  margin: auto;
  margin-bottom: 10px!important;
    font-size: 22px;
    font-family: "Montserrat";
    color: black;
   
    text-indent: 14px;
}
label{
  padding-left: 2px;
  display: flex;
  margin: 0 !important;
}
.registration{
  margin-top: 10px !important;
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin: auto;
  color: white;
  width: 100%;
  margin: 0 auto;
  display: flex;
  padding: 0;
  line-height: 40px;
  border: 0;
  border-radius: 5px;
  color: rgb(255, 255, 255);
  background-color: #6383a8;
 
}

.main_listprojects{
background: url("images/io.jpg");
padding: 10px 120px;
width: 100%;
height: 50vh;
display: flex;
justify-content: center;
flex-flow: column;
margin-top: 75px !important;

}

.btn_add{
	margin: 20px;
	background-color: #6383a8;
	color: white;
	font-size: 1.7em;


}

.avatar{
	border-radius: 50% 50%;
	width: 150px;
	height: 150px;
	overflow: hidden;
	background-size: contain;
  background-position: center;
}

.column2{
	display: flex;
	flex-flow: row;
	justify-content: flex-start;
	align-items: center;
	width: 100%;
	box-shadow: 0px 2px 2px 0px rgba(64,64,64);
  border-radius: 4px;
  background: #f8f8ff;

}

.column2 h3{
	margin-right: 5px;
	margin-left: 45px;
	font-size: 1.5em !important;
	font-weight: 900 !important;
	color: #808080;
}

.column2 i{
	font-size: 1.5em !important;
}

.description_inf{
	display: flex;
	flex-flow: column;
}

.description_inf label{
	font-size:1.3em;
	font-weight: 900;
	color: #6383a8;
}

.description_inf p{
	font-size:1em !important;
	font-weight: 300 !important;
	color: black !important;
}

.btn_spon{
	background-color: #6383a8;
	color: white;
	font-size: 1.2em;
	margin-left: 5px;
	margin-right: 5px;
}

.forbtn{
	margin-left: 15px;
}
/* Start Modal */
.modal {
display: flex;
margin: auto;
  width: 450px;
  margin-top:65px !important;
  display: none; /* Скрыто по умолчанию */
  /*background-color: rgb(0,0,0); /* Затемнение фона */
  /*background-color: rgba(0,0,0,0.5); /* Полупрозрачное затемнение */
 
  overflow: auto; /* При необходимости, то появиться прокрутка */
}

.modal-content {

  animation-name: animate;

  animation-duration: 0.5s

}

 @keyframes animate {
  from {top:-320px; opacity:0}
  to {top:0; opacity:1}
}
.close {
  font-size:  30px;
  font-weight:  bold;
}
/* end modal */
.distance{
	margin-bottom: 50px !important;
}

#mainPhoto {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

#mainPhoto  + label {
  font-size: 1.25em;
  font-weight: 700;
  color: black;
  background-color: #D3D3D3;
  display: inline-block;
}

#mainPhoto :focus + label,
#mainPhoto  + label:hover {
  background-color: #6383a8;
  color: white;
}

#mainPhoto  + label {
	cursor: pointer; /* "hand" cursor */
}

.imgProject {
	width: 100%;
	height: 100%;
}